.card {
  background-color: var(--card-background-color);
  transition: background 0.4s ease;
  min-height: 250px;
  border-radius: 10px;
  padding: 20px;
  color: var(--text-color);
  filter: drop-shadow(4px 4px 4px var(--shadow-card));
}